Makefile
.last_cover_stats
MANIFEST.bak
*.old
*.swp
*~
blib
pm_to_blib
cover_db
example/logs
t/*/logs
t/*/sessions
logs
TestApp
t/sessions/
tags
blib/
pm_to_blib
Dancer-Plugin-Auth-Twitter-0.0*
.build
